.card {
  max-height: 25rem;
  width: 13rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(80, 102, 227);
  overflow: hidden;
}

.poster img {
  max-width: 15rem;
  max-height: 20rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.overview {
  transform: translateY(100%);
}
